/* Chords */
.center_chord_boxes{
    width:60vw;
    height:50vh;
    margin:0 auto;
    position:absolute;
    left:20vw;
    top:35vh;
}

.chord_box{
    margin: auto;
    border-style: solid;
    border-color: #373a3c;
    border-width: thick;
    text-align: center;
    padding: 1%;
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 400px;
}

#current_chord_box{
    float: left;
    width: 30vw;
    background-color: chartreuse;
}

#next_chord_box{
    float: right;
    width: 20vw;
    background-color: red;
}

.chord_symbol{
    position: relative;
    margin-top: -10%;
    margin-bottom: 1%;
    font-size: 500%;
}

#next_arrow{
    margin: 0 auto;
    font-size: 500%;
    margin: 3%;
}

#current_arrow{
    margin: 0 auto;
    font-size: 500%;
    margin: 3%;
}

.interval{
    display: inline;
    margin: 0 auto;
    font-size: 500%;
}


/*  Visual Metronome */
.boxes{
    height: 3vw;
    width: 3vw;
    min-width: 20px;
    min-height: 20px;
    border: 2px;
    background-color: blue;
    margin: 1vw;
    display: inline-block;
}

.first_beat{
    background-color: blueviolet;
}

.other_beat{
    background-color: rgb(43, 226, 104);
}

#beat_indicator{
    width: auto;
    margin: 0 auto;
    position: absolute;
    left: 40vw;
}

.box_title{
    position: relative;
    top: -10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 500%;
    white-space: nowrap;
}

#chord_seq{
    display: none;
    position: absolute;
    margin: 50px;
    bottom: 50px;
}

/* Nav Bar */
#things{
    margin-top: 5%;
}
.navbar-brand{
    display: inline-block;

}
.stylish {
    font-family: 'Pacifico', cursive;
}

.bg-inverse {
    color: #eceeef;
    background-color: #373a3c;
}

#onoff{
    height: 30px;
    width: 60px;
    border: 2px;
    background-color: red;
    margin: 10px;
    float: left;
}
.nav_btns{
    margin: 10px;
}

@media screen and (orientation:portrait) {
    .chord_box{
        margin-bottom: 1vh;
        margin-top: 10vh;
    }

    #current_chord_box{
        float: none;
        width: 30vw;
    }

    #next_chord_box{
        float: none;
        width: 20vw;
    }
    .chord_symbol{
        font-size: 300%;
    }

    #next_arrow{
        font-size: 300%;
    }

    #current_arrow{
        font-size: 300%;
    }

    .interval{
       font-size: 300%;
    }
    .box_title{
        font-size: 200%;
        top: -6vh;
    }
    #things{
        margin-top: 15vh;
    }
    .center_chord_boxes{
        top: 18vh;
        height: auto
    }

}

@media screen and (max-width:400px){
    .chord_box{
        margin-bottom: 1vh;
        margin-top: 6vh;
        min-width: 120px;
        min-height: 120px;
    }
    #beat_indicator{
        bottom: 1vh;
        left: 30vw;
    }
}